<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Describe Column -->
  <ng-container matColumnDef="describe">
    <mat-header-cell *matHeaderCellDef>Describe</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.describe}} </mat-cell>
  </ng-container>

  <!-- Link Column -->
  <ng-container matColumnDef="anchor">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"><a href="/team/{{element.name}}"></a></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="[10, 15, 20]" class="paginator"></mat-paginator>
<button mat-fab color="primary" (click)="onAdd()" class="fab-bottom-right">
  <mat-icon>add</mat-icon>
</button>
