<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <button mat-fab color="primary" (click)="openAdminDialog()" class="fab-bottom-right">
    <mat-icon>add</mat-icon>
  </button>
  <!--button mat-button class="mat-fab fab-bottom-right" aria-label="Add">
      <mat-icon mat-svg-icon="content:ic_add_24px" aria-label="Plus"></mat-icon>
</button-->
  <mat-grid-list cols="1" rowHeight="512px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
	<mat-card-header>
	  <mat-card-title>
            Personal data
	  </mat-card-title>
	</mat-card-header>
	<mat-card-content class="dashboard-card-content">
	  <mat-list>
	    <mat-list-item>
	      <a routerLink="/">
		<!--A nested flex layout here-->
		<mat-list-item fxLayout="row" fxLayoutAlign="space-around">
		  <div fxFlex="grow" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around, center">
		    <div matLine fxFlex="80px">Name:</div>
		    <div matLine fxFlex="grow">Haines</div>
		  </div>
		  <div fxFlex="80px" fxLayoutAlign="end center">
		    <mat-icon>navigate_next</mat-icon>
		  </div>
		</mat-list-item>
	      </a>
	    </mat-list-item>
	    <mat-divider></mat-divider>

	    <mat-list-item>
	      <a routerLink="/">
		<!--A nested flex layout here-->
		<mat-list-item fxLayout="row" fxLayoutAlign="space-around">
		  <div fxFlex="grow" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around, center">
		    <div matLine fxFlex="80px">Team:</div>
		    <div matLine fxFlex="grow">Operation</div>
		  </div>
		  <div fxFlex="80px" fxLayoutAlign="end center">
		    <mat-icon>navigate_next</mat-icon>
		  </div>
		</mat-list-item>
	      </a>
	    </mat-list-item>
	    <mat-divider></mat-divider>

	    <mat-list-item>
	      <a routerLink="/">
		<!--A nested flex layout here-->
		<mat-list-item fxLayout="row" fxLayoutAlign="space-around">
		  <div fxFlex="grow" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around, center">
		    <div matLine fxFlex="80px">Email:</div>
		    <div matLine fxFlex="grow">yunhai.chen@daocloud.io</div>
		  </div>
		  <div fxFlex="80px" fxLayoutAlign="end center">
		    <mat-icon>navigate_next</mat-icon>
		  </div>
		</mat-list-item>
	      </a>
	    </mat-list-item>
	    <mat-divider></mat-divider>

	    <mat-list-item>
	      <a routerLink="/">
		<!--A nested flex layout here-->
		<mat-list-item fxLayout="row" fxLayoutAlign="space-around">
		  <div fxFlex="grow" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around, center">
		    <div matLine fxFlex="80px">ID Card No:</div>
		    <div matLine fxFlex="grow">1234567890...</div>
		  </div>
		  <div fxFlex="80px" fxLayoutAlign="end center">
		    <mat-icon>navigate_next</mat-icon>
		  </div>
		</mat-list-item>
	      </a>
	    </mat-list-item>
	    <mat-divider></mat-divider>

	  </mat-list>
	</mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!--mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
	<mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
		<mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
		<button mat-menu-item>Expand</button>
		<button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
	</mat-card>
      </mat-grid-tile>
</mat-grid-list>
</div-->

  <!--md-list-item class="md-2-line">
      <div class="md-list-item-text" layout="row" layout-align="start center">
	<span flex="10">Title</span>
	<span flex="5"></span>
	<span flex="30">Dessciption</span>
      </div>
</md-list-item-->
  <!--div class="grid-container">
      <h1 class="mat-h1">Dashboard</h1>
      <mat-grid-list cols="2" rowHeight="350px">
	<mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
	  <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
		{{card.title}}
		<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
		  <mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu" xPosition="before">
		  <button mat-menu-item>Expand</button>
		  <button mat-menu-item>Remove</button>
		</mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
	  </mat-card>
	</mat-grid-tile>
      </mat-grid-list>
</div-->
  <!--md-content layout="column" class="relative" layout-fill role="main">
      <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
	<md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
      </md-button-->
