.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    min-height: 500px;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.fab-bottom-right {
    // background-color: #117BB2;
    z-index: 1;
    position: fixed;
    bottom: 32px;
    right: 32px;
}
